<% layout('layouts/boilerplate.ejs') %>
  <div class="container px-5 mt-3">
    <h1 class="fs-3 mb-4 border-bottom border-dark border-3">Recent News</h1>
    <div class="row">
      <% if(news.length===0) { %>
        <div class="col-12 mb-4">
          <div class="alert alert-secondary text-center" role="alert">
            Recent news is still empty.
          </div>
        </div>
        <% } else { %>
          <% for(let item of news) { %>
            <div class="col-12 mb-4">
              <div class="card h-100 shadow-sm">
                <a class="text-decoration-none text-black d-flex flex-row" href="/news/<%= item.id %>">
                  <% if(item.images.length) { %>
                    <img src="<%= item.images[0].url %>" alt="<%= item.title %>" class="img-fluid"
                      style="width: 350px; max-height: 180px; object-fit: cover;">
                    <% } else { %>
                      <div class="bg-secondary d-flex align-items-center justify-content-center"
                        style="width: 300px; height: auto;">
                        <span class="text-white">No Image</span>
                      </div>
                      <% } %>
                        <div class="card-body">
                          <h5 class="card-title fw-bold mb-1">
                            <%= item.title %>
                          </h5>
                          <span class="badge bg-secondary">
                            <% function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() +
                              string.slice(1); } %>
                              <%= capitalizeFirstLetter(item.category) %>
                          </span>
                          <p class="card-text mb-2">
                            <small>
                              <!-- <%- truncateDescription(item.body, 300) %> -->
                              <%- truncateDescription(item.body, 200) %>
                            </small>
                          </p>
                          <p class="card-text"><small class="text-muted">
                              <%= item.createdAt.toLocaleDateString('en-GB', { year: 'numeric' , month: 'long' ,
                                day: 'numeric' }) %>
                            </small></p>
                        </div>
                </a>
              </div>
            </div>
            <% } %>
              <% } %>
    </div>
  </div>

  <script>
    const news = { features: <% - JSON.stringify(news) %> }
  </script>

  <% function truncateDescription(description, maxLength) { if (description.length> maxLength) {
    return description.slice(0, maxLength) + '...';
    }
    return description;
    } %>