<% layout('layouts/boilerplate.ejs') %>

  <main class="container px-5 mt-3">
    <h1 class="fs-3 mb-4 border-bottom border-dark border-3">Event Album</h1>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% album.forEach(item=> { %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <a href="/album/<%= item.id %>" class="text-black">
                  <% if (item.images[0].url.endsWith('.mp4')) { %>
                    <!-- Display a thumbnail for the video -->
                    <video class="card-img-top" muted>
                      <source src="<%= item.images[0].url %>" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    <% } else { %>
                      <!-- Display the first image as the thumbnail -->
                      <img src="<%= item.images[0].url %>" class="card-img-top" alt="Album Cover">
                      <% } %>
                        <div class="card-body">
                          <h6 class="card-title">
                            <%= item.title %>
                          </h6>
                          <small class="card-text text-secondary">
                            <%= item.date.toLocaleDateString('en-GB') %>
                          </small>
                        </div>
                </a>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
  </main>